<footer>
  <div class="row mx-0">
    <div class="col-md-4 px-0">
      <div class="text-center text-md-left ml-md-4 py-4">
        <img src="../public/images/logo.png" alt="oto technology logo" class="footer-logo" />
        <div class="contact mt-md-3">
          <span class="separator-y d-block d-md-none"></span>
          <p class="py-3 pb-md-0 pt-md-3 pl-md-3 mb-0">
            20 RUE SAINT PÉTERSBOURG<br>
            75008 PARIS<br>
            TÉL&nbsp;:&nbsp;01&nbsp;84&nbsp;79&nbsp;97&nbsp;36
          </p>
            <span class="separator-y d-block d-md-none"></span>
        </div>
      </div>
    </div>
    <div class="col-md-4 px-0 media">
      <div class="m-auto">
        <p>NOUS SUIVRE&nbsp;:</p>
        <div class="d-flex">
          <a href="https://www.youtube.com/channel/UCxl6b9nlUiJZuEeMGVgbqcg" target="_blank">
            <i class="fab fa-youtube fa-2x mr-3"></i>
          </a>
          <a href="https://www.linkedin.com/company/oto-technology/?originalSubdomain=fr" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 copyright d-flex justify-content-center justify-content-md-end align-items-end px-0">
      <p class="mt-4 mt-md-0 mr-md-3">Mentions Légales <span class="ml-2">®2019</span></p>
      <img src="../public/images/logo-cropped.png" alt="oto technology logo" class="d-none d-md-block" />
    </div>
  </div>
</footer>