body a {
  color: inherit;
  text-decoration: inherit;
}

body a:hover {
  color: inherit;
  text-decoration: inherit;
}

header {
  background-color: #333333;
  height: 100px;
  color: #fff;
}

header img {
  height: 75px;
}

body nav {
  font-size: 17px;
  position: relative;
  z-index: 2;
}

nav .nav-panel-mobile {
  background-color: rgba(51, 51, 51, 0.9);
  margin-top: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

body h1 {
  font-size: 5.5rem;
}

.main-presentation {
  height: 580px;
  background-image: url("../images/presentation-bg.jpg");
  background-size: cover;
  color: #fff;
}

.main-presentation .presentation-content > p{
  font-size: 38px;
}

.main-btn {
  border: 1px solid #fff;
  display: inline-flex;
  cursor: pointer;
}

.main-btn:hover {
  background-color: rgba(51, 51, 51, 0.7);
}

.main-btn .btn-content {
  color: #fff;
  padding: 0px 35px;
  border: 1px solid #fff;
  margin: 4px;
}

.main-btn .btn-content .btn-text {
  margin: auto;
  font-size: 28px;
}

@media(max-width:767px){
  body header {
    height: 50px;
  }

  header img {
    height: 40px;
  }

  body h1 {
    font-size: 4.5rem;
  }

  .main-presentation .presentation-content > p{
    font-size: 38px;
  }

  .main-presentation {
    height: 470px;
  }
}

@media(max-width:576px){
  header {
    height: 50px;
  }

  header img {
    height: 40px;
  }

  body h1 {
    font-size: 2.8rem;
  }

  .main-presentation .presentation-content > p{
    font-size: 28px;
  }

  .main-btn .btn-content .btn-text {
    font-size: 25px;
  }

  .main-btn .btn-content {
    padding: 0px 10px;
  }

  .main-presentation {
    height: 430px;
  }
}