body a {
  color: inherit;
  text-decoration: inherit;
}

body a:hover {
  color: inherit;
  text-decoration: inherit;
}

header {
  background-color: #333333;
  height: 100px;
  color: #fff;
}

header img {
  height: 75px;
}

body nav {
  font-size: 17px;
  position: relative;
  z-index: 2;
}

nav .nav-panel-mobile {
  background-color: rgba(51, 51, 51, 0.9);
  margin-top: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

body h1 {
  font-size: 5.5rem;
}

body h2 {
  font-size: 38px;
}

.carousel-indicators {
  bottom: 95px !important;
}

.carousel-indicators .carousel-btn {
  width: 15px;
  height: 15px;
  border-radius: 100px;
  opacity: 0.5;
  background: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicators .carousel-btn .active{
  opacity: 1;
}

.main-presentation {
  height: 470px;
  background-image: url("../images/presentation-bg.jpg");
  background-size: cover;
  color: #fff;
  margin-bottom: 90px;
}

.main-presentation .presentation-content > p{
  font-size: 38px;
}

.main-btn {
  border: 1px solid #fff;
  display: inline-flex;
  cursor: pointer;
}

.main-btn-black {
  border: 1px solid #000;
  display: inline-flex;
  cursor: pointer;
}

.main-btn:hover {
  background-color: rgba(51, 51, 51, 0.7);
}

.main-btn-black:hover {
  background-color: rgba(51, 51, 51, 0.7);
}

.main-btn-black:hover .btn-content-black {
  color: #fff;
}

.main-btn .btn-content {
  color: #fff;
  padding: 0px 35px;
  border: 1px solid #fff;
  margin: 4px;
}

.main-btn-black .btn-content-black {
  color: #000;
  padding: 0px 35px;
  border: 1px solid #000;
  margin: 4px;
}

.main-btn .btn-content .btn-text {
  margin: auto;
  font-size: 28px;
}

.main-btn-black .btn-content-black .btn-text-black {
  margin: auto;
  font-size: 20px;
}

.image-container {
  background-image: url("../images/learn-more.jpg");
  height: 62vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.social-container {
  position: absolute;
  right: 0;
  top: 14%;
}

.main-skill {
  padding: 0 70px;
}

.skill-container .skill-content img {
  height: 7vh;
}

.skill-container .skill-content span {
  font-size: 26px;
}

footer {
  background-color: #333333;
}

footer .contact {
  color: #fff;
  border-left: 3px solid #fff;
  margin: 25px 0 0 40px;
}

footer p {
  font-size: 12px;
  color: #fff;
}

footer .footer-logo {
  height: 7vh;
}

footer .media {
  color: #fff;
}

footer .copyright img {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.2;
  height: 80%;
}

footer .contact .separator-y {
  height: 50px;
  width: 1px;
  background: #fff;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .main-presentation {
    margin-bottom: 30px;
  }

  .learn-more-container {
    padding: 0 70px;
  }

  .social-container {
    position: inherit;
    display: flex;
  }

  .social-container .social {
    padding: 5px 5px 0 0;
  }
}

@media(max-width:767px){
  body header {
    height: 50px;
  }

  header img {
    height: 40px;
  }

  body h1 {
    font-size: 4.5rem;
  }

  .main-presentation .presentation-content > p{
    font-size: 38px;
  }

  .main-presentation {
    height: 470px;
  }

  footer .contact {
    margin: 20px 0 0 0;
    border-left: none;
  }
}

@media(max-width:576px){
  header {
    height: 50px;
  }

  header img {
    height: 40px;
  }

  body h1 {
    font-size: 2.8rem;
  }

  .main-presentation .presentation-content > p{
    font-size: 28px;
  }

  .main-btn .btn-content .btn-text {
    font-size: 25px;
  }

  .main-btn .btn-content {
    padding: 0px 10px;
  }

  .main-presentation {
    height: 430px;
  }

  .learn-more-container {
    padding: 0 20px;
  }

  .main-skill {
    padding: 0 20px;
  }

  .skill-container .skill-content span {
    font-size: 23px;
  }

  footer .copyright img {
    height: 40%;
  }
}