<ul class="d-md-flex navbar-nav flex-row justify-content-center h-100 align-items-end">
  <li class="nav-item pb-2">
    <a href="#" class="nav-link mx-2">Accueil</a>
  </li>
  <li class="nav-item pb-2">
    <a href="#" class="nav-link mx-2">Métier</a>
  </li>
  <li class="nav-item pb-2">
    <a href="#" class="nav-link mx-2">Pôle</a>
  </li>
  <li class="nav_item mx-5 my-auto">
    <img src="../public/images/logo.png" alt="oto technology logo">
  </li>
  <li class="nav-item pb-2">
    <a href="#" class="nav-link mx-2">CV</a>
  </li>
  <li class="nav-item pb-2">
    <a href="#" class="nav-link mx-2">Compétences</a>
  </li>
  <li class="nav-item pb-2">
    <a href="#" class="nav-link mx-2">Portfolio</a>
  </li>
</ul>