<div class="d-flex justify-content-between px-3 h-100">
  <div class="my-auto">
    <a data-toggle="collapse" href="#navMobile" role="button" aria-expanded="false" aria-controls="navMobile">
      <i class="fas fa-bars fa-2x"></i>
    </a>
    <div class="collapse nav-panel-mobile" id="navMobile">
      <ul class="navbar-nav flex-sm-row pr-3">
        <div class="col-6">
          <li class="nav-item pr-2 py-1">
            <a href="#" class="nav-link mx-2 my-0">Accueil</a>
          </li>
          <li class="nav-item pr-2 py-1">
            <a href="#" class="nav-link mx-2 my-0">Métier</a>
          </li>
          <li class="nav-item pr-2 py-1">
            <a href="#" class="nav-link mx-2 my-0">Pôle</a>
          </li>
        </div>
        <div class="col-6">
          <li class="nav-item pr-2 py-1">
            <a href="#" class="nav-link mx-2 my-0">CV</a>
          </li>
          <li class="nav-item pr-2 py-1">
            <a href="#" class="nav-link mx-2 my-0">Compétences</a>
          </li>
          <li class="nav-item pr-2 py-1">
            <a href="#" class="nav-link mx-2 my-0">Portfolio</a>
          </li>
        </div>
      </ul>
    </div>
  </div>
  <div class="my-auto">
    <img src="../public/images/logo.png" alt="oto technology logo">
  </div>
</div>