<div class="main-presentation text-center d-flex align-items-center justify-content-center">
  <div class="presentation-content">
    <h1 class="mb-0">Marec M'barki</h1>
    <p>Poste&nbsp;: intégrateur</p>
    <a href="#">
      <div class="main-btn">
        <p class="btn-content">
          <span class="btn-text">Découvrir</span>
        </p>
      </div>
    </a>
  </div>
</div>